.seccion {
    background-color: blueviolet;
    padding: 1rem;
    margin: 1rem;
}

p {
    padding: 2rem;
    margin: 1rem;
    background-color: aliceblue;
    font-weight: 700;
}

.arrastrando {
    opacity: 0.5;
}

#papelera {
    text-align: center;
}
